.doctor-detail-container {
  height: 100vh;

  .intro-doctor {
    display: flex;
    gap: 20px;
    width: 100%;

    .content-left {
      width: 20%;
      background-position: 50% 0%;
      background-repeat: no-repeat;
      height: 120px;
      width: 120px;
      border-radius: 50%;
      margin: 10px 20px;
    }

    .content-right {
      width: 80%;
      display: flex;
      flex-direction: column;
      padding-top: 16px;

      .content-right-title {
        text-align: start;
        font-size: 20px;
        font-weight: 700;
      }

      .content-right-desc {
        padding-top: 8px;
      }
    }
  }

  .detail-info-doctor {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 20px 10px;
    background: #f9f9f9;
    h4 {
      font-size: 18px;
    }

    img {
      width: 100%;
    }
  }

  .comment-doctor {
    height: 50px;
  }
}
