.mini-player {
  // width: 44px;
  // height: 44px;
  // position: absolute;
  // right: 30%;
  // bottom: 4%;
  // color: white;
  // padding: 10px;
  // border-radius: 0.375rem;
  // cursor: pointer;
  // transition: background-color 0.3s;
}
.mini-player,
.expand-player {
  // background: opacity(0.8);
  opacity: 0.8;
}

.expand-player {
  // display: none;
}

.mini-player:hover,
.expand-player:hover {
  opacity: 1;
  // cursor: pointer;
}

.html5-video-player:hover .expand-player {
  display: block;
}

.ytp-right-controls {
}
