button {
  border: none;
  outline: none;
}

.section-specialty {
  --primary-color: #49bce2;
  --secondary-color: #8adce3;
  --third-color: #edfffa;
  //   height: 100px;
  background: #f5f5f5;
  padding: 36px 0 45px 0;

  .specialty-container {
    height: 100%;
    display: flex;
    flex-direction: column;

    .specialty-header {
      // padding-top: 20px;
      margin-bottom: 30px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .title-section {
        font-size: 22px;
        font-weight: 600;
      }

      .btn-section {
        padding: 10px 15px;
        border-radius: 4px;
        background: #ebebeb;
        color: black;
        cursor: pointer;
        text-transform: uppercase;

        &:hover {
          color: white;
          background: var(--primary-color);
        }
      }
    }

    .specialty-body {
      /* the parent */
      .slick-list {
        height: 330px;
      }

      /* slides padding khi ở dạng mobile*/
      .slick-slide {
        padding-left: 10px;
        padding-right: 10px;
      }

      .specialty-custom {
        height: 300px;

        .bg-img {
          width: 100%;
          height: 100%;
          border-radius: 8px;

          background-image: url("../../../assets/specialty/co-xuong-khop.jpg");
          background-position: center center;
          background-repeat: no-repeat;
          background-size: cover;
        }

        .specialty-title {
          margin-top: 4px;
          font-size: 18px;
          color: black;
          text-transform: capitalize;
        }
      }

      .slick-prev,
      .slick-next {
        height: 45px !important;
        width: 40px !important;
        background: #45c3d2 !important;
        opacity: 0.6;
        z-index: 2;

        &:hover {
          opacity: 1;
        }
      }

      .slick-prev {
        margin-left: 16px !important;
        background: #45c3d2 !important;
        opacity: 0.6;
      }

      .slick-next {
        margin-right: 16px !important;
      }
    }
  }
}
