.verify-email-container {
  .infor-booking-success,
  .infor-booking-failed {
    font-size: 17px;
    font-weight: 600;
    margin-top: 30px;
    text-align: center;
    text-transform: uppercase;
  }

  .infor-booking-success {
    // color: #49bce2;
    color: #08a045;
  }
  .infor-booking-failed {
    color: red;
  }
}
